.contacts {
  margin-bottom: 69px;

  &__title {
    margin-bottom: 22px;
  }

  &__wrapper {
    grid-template-columns: repeat(12, 1fr);
  }

  &__map {
    max-width: 850px;
    height: 100%;
  }

  [class*="ground-pane"] {
    filter: grayscale(1);
  }

  [class*="copyrights-pane"] {
    display: none !important;
  }

  &__map-title {
    margin: 0;
    margin-bottom: 5px;
    font-family: "TT Firs Neue", sans-serif;
    font-weight: 400;
    color: $white;
    font-size: $titleFs;
    line-height: $smallLh;
  }

  &__label {
    display: block;
    position: relative;
  }

  &__text-address {
    margin: 0;
    margin-bottom: 2px;
    color: $lightGray;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
  }

  &__svg {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }

  &__phone {
    display: inline-block;
    font-style: normal;
    font-family: "TT Firs Neue", sans-serif;
    font-weight: 400;
    color: $primaryColor;
    line-height: 20.6px;
    vertical-align: middle;
  }

  &__address {
    max-width: 300px;
  }

  &__form-wrapper {
    grid-column: span 4;
  }

  &__form-title {
    margin: 0;
    margin-bottom: 4px;
    font-family: "TT Firs Neue", sans-serif;
    color: $textColor;
    font-size: $titleFs;
    line-height: $smallLh;
    font-weight: 400;
  }

  &__form-text {
    margin: 0;
    margin-bottom: 14px;
    color: $gray;
    line-height: $smallLh;
    font-weight: 400;
  }

  &__map-wrapper {
    position: relative;
    grid-column: span 8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: hidden;
  }

  &__map-text-wrapper {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 48.6%;
    min-height: 100%;
    padding: 175px 50px 150px 60px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform .2s ease-in-out, visibility .2s ease-in-out;

    &.contacts__map-text-wrapper--hidden {
      visibility: hidden;
      transform: translateX(-100%);
    }
  }

  &__form-input {
    width: 100%;
    margin-bottom: 20px;
    border: $bgColor 1px solid;
    padding: 14px 22px;
    background-color: $bgColor;
    outline: none;

    &::placeholder {
      color: $gray;
    }

    &:focus-visible {
      border-color: $primaryColor;
      transition: border-color 0.2s ease-in-out;
    }

    &:active {
      border-color: $bgColor;
      transition: border-color 0.2s ease-in-out;
    }

    &.is-invalid {
      border: #D52B1E 1px solid;
    }

    &.is-valid {
      border: #B8EC64 1px solid;
    }
  }

  &__close-btn {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 200;
    background-color: transparent;
  }

  &__btn {
    padding: 15px 22px;
    color: $white;
    line-height: 19px;
    font-weight: 700;
    background-color: $primaryColor;
    outline: none;
  }

  &__textarea {
    min-height: 150px;
    resize: none;
  }

  &__close {
    width: 20px;
    height: 20px;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1280px) {
  .contacts {
    &__title {
      margin-bottom: 14px;
    }

    &__text-address {
      display: inline;
      vertical-align: middle;
      margin-right: 12px;
    }

    &__phone-svg {
      display: inline-block;
      vertical-align: middle;
    }

    &__address {
      max-width: 305px;
    }

    &__close {
      top: auto;
      bottom: 115px;
      right: 25px;
      width: 20px;
      height: 20px;
      z-index: 200;
    }

    &__wrapper {
      grid-template-columns: repeat(8, 1fr);
    }

    &__map-wrapper {
      grid-column: span 5;
    }

    &__map-text-wrapper {
      width: 100%;
      min-height: auto;
      padding: 25px 30px 21px 30px;

      &.contacts__map-text-wrapper--hidden {
        transform: translateY(100%);
      }
    }

    &__form-wrapper {
      grid-column: span 3;
    }

    &__map {
      max-width: 850px;
    }
  }
}

@media (max-width: 800px) {
  .contacts {
    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
      gap: 29px;
    }

    &__map-wrapper {
      max-height: 460px;
      grid-column: span 6;
      padding-top: 60%;
    }

    &__form-wrapper {
      grid-column: span 4;
    }

    &__address {
      max-width: 436px;
    }

    &__text-address {
      display: block;
    }
  }
}

@media (max-width: 576px) {
  .contacts {
    margin-bottom: 51px;

    &__wrapper {
      gap: 22px;
    }

    &__title {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: $smallLh;
    }

    &__close {
      right: 18px;
      bottom: 75%;
    }

    &__map {
      min-height: 472px;
    }

    &__map-wrapper {
      min-height: 472px;
      margin-left: -21px;
      margin-right: -21px;
      padding-top: 70%;
    }

    &__map-text-wrapper {
      padding: 23px 19px 14px 19px;
    }

    &__map-title {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: $smallLh;
    }

    &__text-address {
      margin-bottom: 11px;
      font-size: $smallFs;
      line-height: 18px;
    }

    &__svg {
      width: 20px;
      height: 20px;
    }

    &__phone {
      @include phone;
    }

    &__form-text {
      margin-bottom: 16px;
      font-size: $smallFs;
      line-height: 18px;
    }

    &__form-wrapper {
      grid-column: span 6;
    }

    &__form-title {
      margin-bottom: 7px;
      font-size: 18px;
      line-height: $smallLh;
    }

    &__form-input {
      padding: 12px 23px;
      font-size: $smallFs;
      line-height: 16.4px;
    }

    &__btn {
      padding: 12px 22px;
      font-size: $smallFs;
      line-height: 16.4px;
    }
  }
}
