$containerMaxWidth: 1350px;

$textColor: #202020;
$primaryColor: #FF6E30;
$secondaryColor: #BC572B;
$thirdColor: #CE4307;
$bgColor: #E9E9E9;
$lightGray: #CACACA;
$gray: #999999;
$darkGray: #4A4A4A;
$white: #FFF;
$black: #000;

$smallFs: 14px;
$defaultFs: 16px;
$titleFs: 24px;
$defaultLh: 28px;
$smallLh: 22px;

$gridGap: 30px;
